<!---
Author: Ryan Pinkney, Jacob Poor, Kevin, Tanner
    This is the deletion confirmation page


-->
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Delete Task";
}

@model Tasks

<!--Confirmation message-->
<h2>Confirm Deletion</h2>
<h3> Are you sure you want to delete?</h3>

<!--Form to confirm deletion-->
<form asp-action="Delete" method="post">

    <!--Button to cancel-->
    <a asp-controller="Home" asp-action="Quadrant" class="btn btn-primary">Cancel</a>

    <!--button to delete-->
    <button type="submit">Delete</button>

    <!--Hide the movie id in the form-->
    <input type="hidden" asp-for="TaskID" />
</form>