<!--// Author: Ryan Pinkney, Jacob Poor, Tanner Davis, Kevin Gutierrez
This is to home page with our photo.-->



@{
    // Set the tab title
    ViewData["Title"] = "7 Habits";
}

<!--Welcome title-->
<br /><br />
<div class="text-center">
    <h1 class="display-4">This is our 7 Habits Project</h1>
    <p>This is going to do amazing things.</p>
</div>
<br />
<br />

<!--Photo-->
<div class="text-center">
    <img class="rounded" src="~/img/IMG_6214.jpeg" height="500px" />
</div>

<!--Extra Space-->
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />