@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@ViewData["Title"] = "View Quadrant";


<div class="container">
    <div class="row">
        <div class="co;">
            <h3>Quadrant 1:</h3>
        </div>
        <div class="col">
            <h3>Quadrant 2:</h3>
        </div>

    </div>
    <div class="row">
        <div class="co;">

        </div>
        <div class="col">

        </div>

    </div>
    <div class="row">
        <div class="co;">
            <h3>Quadrant 3:</h3>
        </div>
        <div class="col">
            <h3>Quadrant 4:</h3>
        </div>

    </div>
    <div class="row">
        <div class="co;">
        </div>
        <div class="col">

        </div>

    </div>
</div>